div{
    height: 900px;
    background-image: url('C:\Users\user\Desktop\Remainder App\reminder\src\assets\images\wp2777452.jpg');
}
.button{
    background-color: purple;
    margin-left: 93%;
    color: white;
}