<div class="row reg">


    <div class="col-lg-4 ">

    </div>
    <div class="col-lg-4">
        <p class="name"> Welcome {{user}}</p>
        <p class="nam">Add your reminder</p>
        <button class="btn btn-success button" (click)="addEvent()"> Add  </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success button" (click)="viewEvent()">View </button>
        <button class="btn btn-success button" (click)="back()">Back</button>
    </div>

    <div class="col-lg-4">


    </div>
</div>